<footer {% if style|default(false)%}class="footer--{{style}}"{% endif %}>
  <div class="container">
    <p><em><i class="fa fa-copyright"></i> Naomi Hauret | ECV Digital Nantes - 2017</em></p>
    <span>
    <a href="https://fr-fr.facebook.com/ECVDigitalNantes/" title="Voir la page Facebook d'ECV Digital Nantes" class="link--light"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/MDev_ECVNantes" title="Voir le Twitter du Mastère Développement Web d'ECV Digital Nantes"  class="link--light"><i class="fa fa-twitter"></i></a>
    <a href="https://fr.linkedin.com/company/ecv-digital" title="Voir le Linkedin d'ECV Digital" title="" class="link--light"><i class="fa fa-linkedin"></i></a></span>
  </div>
</footer>
