@import '../bases/_colors.css';
textarea,
input {
    border: none;
    background: none;
    min-width: 230px;
    transition: 0.5s;
    width: 100%;
    font-family: inherit;
    font-weight: inherit;
    &:focus {
        outline: none;
    }
}

.label--hidden {
    display: none;
}

.form_input-group {
    margin: 1em 0;
}

.input--light {
    color: inherit;
    padding: 0.55em 0 0.55em;
}

.input--light:invalid {
    border-bottom: solid rgba(255, 255, 255, 0.5) 2px;
}

.input--light:hover {
    padding: 1.15em 0 0.55em;
}

.input--light:focus {
    font-style: italic;
    font-size: 1.05em;
}

.input--light,
.input--light:valid {
    border-bottom: solid $white 2px;
}

.input--light:valid,
 .input--light:focus {
    padding-top: 1.2em;
}

.input--large {
    font-size: $font-size--large;
}

.textarea--small,
.input--small {
    font-size: $font-size--small;
}

.input-preview__src {
    display: none;
}

.input-preview {
    color: $grey-lighter;
    border: dashed currentColor 0.175em;
    border-radius: 0.5em;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: ease-in-out 750ms;
    cursor: pointer;
}

.input-preview::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(50%);
    color: currentColor;
    content: "Choisir une photo de couverture...";
    font-style: italic;
    font-size: 1em;
}

.has-image::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.5);
    content: " ";
    transition: ease-in-out 750ms;
}

.has-image::after {
    content: "Changer la photo de couverture...";
    color: $white;
}