{% extends 'dashboard_layout.twig' %}
  {% block title %}Modifier un ticket{% endblock %}
  {% block content %}
      <div class="container form-container">
       {% include "form_update-article.twig "%}
       </div>
  {% endblock %}
