    <div class="article-meta">
      <span class="article-meta__author">par {{ author }}</span>
      <span class="article-meta__date">le {{ date }} </span>
    </div>
    <div class="article-meta">
      <h1 class="article-meta__title"> {{ title }} </h1>
      <p class="article-meta__intro"> {{ intro }} </p>
    </div>
